<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://use.typekit.net/oov2wcw.css" /> 
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <Div class="bg-red-400 px-10 flex justify-between w-full">
        <a class="mt-2 px-5 py-1 text-3xl font-semibold flex left" href="/">
          <img src="/images/logo-ic.png" alt="Chrysalis Logo ic" />
          <img src="/images/logo-tx.png" alt="Chrysalis Logo tx" />
        </a>
  
        <a
          class="flex flex-col justify-center text-center px-5 py-5 bg-red-500 font-semibold rounded-lg hover:bg-red-600 text-white"
          href="/logout"
          >Logout</a>
  
      </Div >
      <div class="flex flex-col items-center" >
      <H1 class="text-2xl font-bold m-2" >Reset password for any existing users.</H1>
      <p class="text-xl m-3" > Enter email address already registered in Calender app and provide new password and confirm the new password. Make sure to <span class="text-red-400"> copy and save new password</span>  to share with the user.</p>
      <div class=" w-[90vmin] h-auto bg-zinc-100 px-4 py-5 rounded-md" >
        <form class="flex flex-col m-2 p-2" action="/resetpassword" method="post">
            <input class="m-2 p-2 border-2 rounded-lg" type="text"  name="username" placeholder="Username i.e. Email">
            <input class="m-2 p-2 border-2 rounded-lg" type="password" name="password" placeholder="Enter New Password">
            <input class="m-2 p-2 border-2 rounded-lg" type="text" name="password2" placeholder="Confirm new password">
          <button class="m-10 px-5 py-5 bg-red-400 font-semibold rounded-lg hover:bg-teal-600 text-white" type="submit">Submit</button>
        </form>
      </div>
      </div>
      <div class="back m-10">
        <a class="mt-10 px-5 py-5 bg-red-500 font-semibold rounded-lg hover:bg-teal-600 text-white" href="/admin">Back to Admin page</a>
    </div>
</body>
</html>